PORT=5002
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=arch_core_db
JWT_SECRET=super_secret_jwt_key_3tier_architecture_2026
FRONTEND_URL=http://localhost:3000
AUTH_SERVER_URL=http://localhost:5001
